header{
    padding: 5px;
    text-align: center;
    background: #5d7b97;
    color: #d4e3f3;
    font-size: 20px;
}

header h1{
    font-size: 50px;
}
body{
    background-image: url("/static/bakgrund-1.jpg"); 
    display: flex;
    flex-direction: column;
}

#city{
    width: max-content;
    flex-direction: row;
}