header{
    padding: 5px;
    text-align: center;
    background: #5d7b97;
    color: #d4e3f3;
    font-size: 20px;
}
body{
    background: #d4e3f3;
    display: flex;
    flex-direction: column;
}

#city{
    width: max-content;
    flex-direction: row;
}