body{
    background-image: url("/images/bakgrund.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    padding: 5px;
    text-align: center;
    height: fit-content;
}

header img{
    object-fit: cover;
    margin-top: 30px;
}

nav{
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    border-bottom: 1px solid rgb(76, 80, 86);
    border-top: 1px solid rgb(76, 80, 86);
}

nav p{
    padding: 20px;
    margin: 0px;
    color: antiquewhite;
    font-size: larger;
    border-radius: 7px;
}

nav p:hover{
    background-color:rgba(163, 135, 135, 0.3);
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
    min-height: 60vh;
    text-align: center;
}

main h1{
    padding: 20px;
    border-radius: 20px;
    border: 3px solid rgb(61, 34, 67);
    background-image: url("/images/bakgrund.png"); 
    width: 300px;
    margin-top: 100px;
    height: fit-content;
    color: beige;
}

main h1:hover{
    cursor: pointer;
}